@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<BanHang.Context.Product>
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.428571429;
                text-decoration: none;
                background-color: #ffffff;
                border: 1px solid #dddddd;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            .pagination > li:last-child > a,
            .pagination > li:last-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .pagination > li > a:hover,
            .pagination > li > span:hover,
            .pagination > li > a:focus,
            .pagination > li > span:focus {
                background-color: #eeeeee;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 2;
            color: #ffffff;
            cursor: default;
            background-color: #428bca;
            border-color: #428bca;
        }

        .pagination > .disabled > span,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #999999;
            cursor: not-allowed;
            background-color: #ffffff;
            border-color: #dddddd;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 10px;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a,
    .pagination-lg > li:last-child > span {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a,
    .pagination-sm > li:last-child > span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .pager {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
    }

        .pager:before,
        .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager:before,
        .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager li {
            display: inline;
        }

            .pager li > a,
            .pager li > span {
                display: inline-block;
                padding: 5px 14px;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                border-radius: 15px;
            }

                .pager li > a:hover,
                .pager li > a:focus {
                    text-decoration: none;
                    background-color: #eeeeee;
                }

        .pager .next > a,
        .pager .next > span {
            float: left;
        }

        .pager .disabled > a,
        .pager .disabled > a:hover,
        .pager .disabled > a:focus,
        .pager .disabled > span {
            color: #999999;
            cursor: not-allowed;
            background-color: #ffffff;
        }
</style>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-2">

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2"> Thương hiệu </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_2">
                        <div class="inner">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                    Apple
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                    SamSung
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    XiaoMi
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                    Oppo
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    Dell
                                </div>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2"> Giá </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_2">
                        <div class="inner">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    Dưới 2 triệu
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    Từ 2 - 4 triệu
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    Từ 4 - 12 triệu
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    Từ 12 - 20 triệu
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    Trên 20 Triệu
                                </div>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Bộ nhớ trong </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_4">
                        <div class="inner">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 8 GB </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 16 GB </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 32 GB </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 64 GB </span>
                            </label>
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 128 GB </span>
                            </label>
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 256 GB </span>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Ram </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_4">
                        <div class="inner">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 2 GB </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 3 GB </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 4 GB </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 6 GB </span>
                            </label>
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 8 GB </span>
                            </label>
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> 12 GB </span>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
            </aside> <!-- col.// -->
            <main class="col-md-10">
                <header class="mb-3">
                    <div class="form-inline">
                        <strong class="mr-md-auto">Có @Session["countPro"] sản phẩm</strong>
                    </div>
                </header>
                @foreach (var item in Model)
                {
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="@Url.Action("Detail","ProductDetail",new { @Id=item.Id},null)" class="img-wrap">
                                    <span class="badge badge-danger">
                                        @{
                                            double pri = Convert.ToDouble(item.Price.ToString());
                                            double dis = Convert.ToDouble(item.PriceDiscount.ToString());
                                            int sale = Convert.ToInt32((((pri - dis) * 100) / pri));
                                        }
                                        -@sale%
                                    </span>
                                    <img src="~/Content/images/items/@item.Avartar">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="@Url.Action("Detail","ProductDetail",new { @Id=item.Id},null)" class="h5 title"> @item.Name</a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:100%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">9/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                                        <span class="tag"> 80 Lượt xem </span>
                                    </p>

                                    <p>
                                        @item.ShortDes
                                    </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">@item.PriceDiscount VNĐ</span>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-warning">Giao hàng miễn phí</small>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Liên hệ với nhà cung cấp </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Yêu thích </a>
                                    </p>
                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                }
                Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) Đến @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ProductCategory", new { page, currentFiler = ViewBag.CurrentFiler }))
            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Cung cấp các xu hướng sản phẩm mới nhất và tin tức ngành trực tiếp đến hộp thư đến của bạn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Địa Chỉ Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning">
                            <i class="fa fa-envelope"></i>
                            Đặt mua
                        </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">
                    Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với các bên thứ ba.
                </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
